<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ajuniofc.com.br.controledecontastelas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:label="Login"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity android:name=".ui.activity.home.HomeActivity" />
        <activity
            android:name=".ui.activity.splash.SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.adicionarbooklet.AdicionarCardenetaActivity"
            android:label="Adicionar Cardeneta"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.ContasActivity"
            android:label="Casa" />
        <activity
            android:name=".ui.activity.adicionarbooklet.CompartilharActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.ContaActivity"
            android:label="Energia" />
        <activity
            android:name=".ui.activity.onboard.OnBoardActivity"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".ui.activity.recuperarsenha.RecuperarSenhaActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.recuperarsenha.CodigoSegurancaActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.recuperarsenha.NovaSenhaActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.singup.SingUpActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.singup.CadastroEmailActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.singup.CadastroPasswordActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.configuracao.ConfiguracaoActivity"
            android:label="Configurações"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.adicionarbooklet.BookletMensalActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.bill.AdicionarBillActivity"
            android:theme="@style/AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".ui.activity.bill.ValorBIllActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.bill.VencimentoBillActivity"
            android:theme="@style/AppCompat.NoActionBar" />
        <activity android:name=".ui.activity.bill.BillMensalActivity"
            android:theme="@style/AppCompat.NoActionBar"></activity>
    </application>

</manifest>